<?xml version="1.0" encoding="UTF-8"?>
<jmash.Config locale="it_IT" remoteRoot="http://www.ilforumdellabirra.net/" RemoteServer="http://www.ilforumdellabirra.net/" RSSFeed="http://www.ilforumdellabirra.net/feed.php" boilTime="60" volumeFin="23" volumeBoil="28" efficienza="70" metriSLM="100" amaroDHEA="45" nickIHB="" passwordIHB="" proxyPort="" proxyHost="" lostToTrub="1.0" litriPerKg="1.4" rapportoAcquaGrani="3.0" ebcNewMethod="true" potLibGal="0" BUGUratiostring="TIN" percentualeEvaporazione="15.0" contrazionePerRaffreddamento="4.0" biab="false" />

