<?xml version="1.0" encoding="UTF-8"?>
<jmash.Config locale="it_IT" remoteRoot="http://www.ilforumdellabirra.net/" RemoteServer="http://www.ilforumdellabirra.net/" RSSFeed="http://www.ilforumdellabirra.net/feed.php" boilTime="60" volumeFin="18" volumeBoil="22" efficienza="70" metriSLM="182" amaroDHEA="45" nickIHB="" passwordIHB="" proxyPort="" proxyHost="" lostToTrub="1.0" lostToSparge="0.1" litriPerKg="5.0" evaporazionePerOra="4.3" ebcNewMethod="true" potLibGal="0" BUGUratiostring="TIN" />

