<?xml version="1.0" encoding="UTF-8"?>
<jmash.Config locale="it_IT" remoteRoot="http://www.ilforumdellabirra.net/" RemoteServer="http://www.ilforumdellabirra.net/" RSSFeed="http://www.ilforumdellabirra.net/feed.php" boilTime="60" volumeFin="18" volumeBoil="28" efficienza="71" metriSLM="182" amaroDHEA="45" nickIHB="" passwordIHB="" proxyPort="" proxyHost="" lostToTrub="1.0" litriPerKg="1.01" rapportoAcquaGrani="5.0" ebcNewMethod="true" potLibGal="0" BUGUratiostring="TIN" percentualeEvaporazione="15.0" contrazionePerRaffreddamento="4.0" biab="false" />

