<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Black Tongue Stout 250</title>
<link rel="stylesheet" href="styles/screen.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="styles/print.css" type="text/css" media="print"/> 
<meta name="Keywords" content="ricetta della birra Black Tongue Stout 250" />
<meta name="Description" content="La ricetta della birra Black Tongue Stout 250 generata da BrewPlus" />
<meta name="author" content="" />
<meta name="category" content=" " />
<meta name="copyright" content="Copyright © 2012 BrewPlus" />
<meta name="language" content="IT" />
<meta http-equiv="imagetoolbar" content="false" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="robots" content="index,follow" />
<meta http-equiv="reply-to" content=" " />
<meta name="Creation_date" content="30 11 2012" />
<style>
body, td {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 8pt;
}
.footercontent{
	font-size:7pt;	
}
</style>

</head>

<body>
<div id="header">
	<div class="header_content">
    <img src="logo.png" alt="logo BrewPlus" />
    </div>
</div>
<div id="dati">
	<div class="dati_content">
	<h3>Black Tongue Stout 250</h3>
    <table cellspacing="0">
        <!--<tr class="riga">
            <td colspan="2">
            <span class="label">Nome: </span><span class="nome_birra">Black Tongue Stout 250</span>
            </td>
        </tr>-->
        <tr class="riga_alternata">
        	<td >
            <span class="label">Dimensione cotta: </span>250,0
            </td>
        	<td>
            <span class="label">Mosto in bollitura: </span>275,0
            </td>
        </tr>
        <tr class="riga">
        	<td >
            <span class="label">Grani totali (gr.): </span>64200
            </td>
        	<td>
        	</td>
        </tr>
        <tr class="riga_alternata">
        	<td >
            <span class="label">OG prevista: </span>1,060 
            </td>
            <td>
        	<span class="label">OG Pre-boil: </span>1,055
            </td>
        </tr> 
        <tr class="riga_alternata">
        	<td >
            <span class="label">FG prevista: </span>1,015
            </td>
            <td>
        	<span class="label">Gradi previsti: </span>6°C
            </td>
        </tr> 
        <tr class="riga">
        	<td>
            <span class="label">Plato: </span>14,8
            </td>
        </tr>
        <tr class="riga">
        	<td >
            <span class="label">EBC previsto: </span>76,3
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>      
        <tr class="riga_alternata">
        	<td >
            <span class="label">IBU prevista: </span>41,4
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>       
        <tr class="riga">
        	<td >
            <span class="label">Efficienza: </span>80 %
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>      
        <tr class="riga_alternata">
        	<td >
            <span class="label">Bollitura: </span>60 minuti
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>   
    </table>
    </div>
    <table>
        <tr>
        	<td colspan="2">
        		<h3>Note</h3>
        		<p>Carbonazione: 5gr/l</p>
        	</td>
        </tr>
    </table>
</div>

<div id="malti">
	<div class="malti_content">
    <h3>Malti e Zuccheri</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Nome prodotto
            </th>
            <th>
            Quantit&agrave; (g.)
          </th>
          <th>
            Percentuale
          </th>
            <th>
            Potenziale
          </th>
            <th>
            EBC
            </th>            
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Maris Otter
            </td>
        	<td>
            46000,000 g.
            </td>
            <td style="text-align:center">
              72%
            </td>
            <td >
            1,030
            </td>
        	<td>
            5,964
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Chocolate
            </td>
        	<td>
            4700,000 g.
            </td>
            <td style="text-align:center">
              7%
            </td>
            <td >
            1,030
            </td>
        	<td>
            894,619
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Crystal 40L
            </td>
        	<td>
            3500,000 g.
            </td>
            <td style="text-align:center">
              5%
            </td>
            <td >
            1,030
            </td>
        	<td>
            79,522
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Fiocchi di Avena
            </td>
        	<td>
            2300,000 g.
            </td>
            <td style="text-align:center">
              4%
            </td>
            <td >
            1,030
            </td>
        	<td>
            3,976
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Avena Maltata
            </td>
        	<td>
            2300,000 g.
            </td>
            <td style="text-align:center">
              4%
            </td>
            <td >
            1,030
            </td>
        	<td>
            1,988
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Black Patent
            </td>
        	<td>
            1200,000 g.
            </td>
            <td style="text-align:center">
              2%
            </td>
            <td >
            1,016
            </td>
        	<td>
            994,021
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Roasted
            </td>
        	<td>
            1200,000 g.
            </td>
            <td style="text-align:center">
              2%
            </td>
            <td >
            1,010
            </td>
        	<td>
            596,413
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Wheat Malt
            </td>
        	<td>
            3000,000 g.
            </td>
            <td style="text-align:center">
              5%
            </td>
            <td >
            1,030
            </td>
        	<td>
            3,964
            </td>
        </tr>
	

    </table>
    </div>
</div>


<div id="luppoli">
	<div class="luppoli_content">
    <h3>Luppoli</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Nome
            </th>
            <th>
            Qt. (g.)
          </th>
            <th>
            Forma
          </th>
            <th>
            A.A.
          </th>
            <th>
            IBU
          </th>
            <th>
            Boil
          </th>
            <th>
            Uso
            </th>                        
        </tr>

      <tr class="riga_alternata">
        	<td >
            Hallertauer Hersbrucker
            </td>
        	<td>
            440,0 gr.
            </td>
            <td >
            Fiore
            </td>
        	<td>
            4,1 %
            </td>
            <td >
            15,2
            </td>
        	<td>
            60 min.
            </td>
            <td>
            Kettle
            </td>            
        </tr>

      <tr class="riga_alternata">
        	<td >
            Goldings, East Kent
            </td>
        	<td>
            320,0 gr.
            </td>
            <td >
            Fiore
            </td>
        	<td>
            5,3 %
            </td>
            <td >
            13,1
            </td>
        	<td>
            45 min.
            </td>
            <td>
            Kettle
            </td>            
        </tr>

      <tr class="riga_alternata">
        	<td >
            Fuggles
            </td>
        	<td>
            160,0 gr.
            </td>
            <td >
            Fiore
            </td>
        	<td>
            4,8 %
            </td>
            <td >
            5,9
            </td>
        	<td>
            45 min.
            </td>
            <td>
            Kettle
            </td>            
        </tr>

      <tr class="riga_alternata">
        	<td >
            Cascade
            </td>
        	<td>
            290,0 gr.
            </td>
            <td >
            Fiore
            </td>
        	<td>
            8,2 %
            </td>
            <td >
            7,3
            </td>
        	<td>
            10 min.
            </td>
            <td>
            Kettle
            </td>            
        </tr>

      <tr class="riga_alternata">
        	<td >
            Cascade
            </td>
        	<td>
            100,0 gr.
            </td>
            <td >
            Fiore
            </td>
        	<td>
            8,2 %
            </td>
            <td >
            0,0
            </td>
        	<td>
            0 min.
            </td>
            <td>
            Kettle
            </td>            
        </tr>

    </table>
    </div>
</div>
<div id="lieviti">
	<div class="lieviti_content">
    <h3>Lieviti</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Nome prodotto
            </th>
            <th>
            Codice
          </th>
            <th>
            Note
            </th>       
        </tr>

      <tr class="riga_alternata">
        	<td >
            SafAle English Ale
            </td>
        	<td>
            S-04
            </td>
            <td >
            300 gr
            </td>
        </tr>


    </table>
    </div>
</div>

<div id="note">
	<div class="note_content">
    <h3>Profilo di Mash e Note aggiuntive</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Descrizione
            </th>
            <th>
            Temperatura
          </th>
            <th>
            Minuti
            </th>       
        </tr>

      <tr class="riga_alternata">
        	<td >
            Proteasi
            </td>
        	<td>
            52
            </td>
            <td >
            10
            </td>
        </tr>

      <tr class="riga_alternata">
        	<td >
            Saccarificazione
            </td>
        	<td>
            69
            </td>
            <td >
            60
            </td>
        </tr>

      <tr class="riga_alternata">
        	<td >
            Mash-out
            </td>
        	<td>
            76
            </td>
            <td >
            15
            </td>
        </tr>


    </table>
    <br />
    
    
    <img src="mash.jpg" alt=""  />
	</div>
</div>

<div id="footer">
	<div class="footercontent">
    Ricetta preparata con <strong>BrewPlus</strong> (<a href="http://www.ilforumdellabirra.net/" target="_blank">http://www.ilforumdellabirra.net/</a>) - 
      <span class="no_display"><a title="stampa la ricetta" href="javascript:print();">Stampa</a></span></div>
</div>
</body>
</html>
