<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Irish Stout Sample</title>
<link rel="stylesheet" href="styles/screen.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="styles/print.css" type="text/css" media="print"/> 
<meta name="Keywords" content="ricetta della birra Irish Stout Sample" />
<meta name="Description" content="La ricetta della birra Irish Stout Sample generata da BrewPlus" />
<meta name="author" content="" />
<meta name="category" content=" " />
<meta name="copyright" content="Copyright © 2012 BrewPlus" />
<meta name="language" content="IT" />
<meta http-equiv="imagetoolbar" content="false" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="robots" content="index,follow" />
<meta http-equiv="reply-to" content=" " />
<meta name="Creation_date" content="30 11 2012" />
<style>
body, td {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 8pt;
}
.footercontent{
	font-size:7pt;	
}
</style>

</head>

<body>
<div id="dati">
	<div class="dati_content">
	<h3>Irish Stout Sample</h3>
    <table cellspacing="0">
        <!--<tr class="riga">
            <td colspan="2">
            <span class="label">Nome: </span><span class="nome_birra">Irish Stout Sample</span>
            </td>
        </tr>-->
        <tr class="riga_alternata">
        	<td >
            <span class="label">Dimensione cotta: </span>10,0
            </td>
        	<td>
            <span class="label">Mosto in bollitura: </span>13,0
            </td>
        </tr>
        <tr class="riga">
        	<td >
            <span class="label">Grani totali (gr.): </span>2200
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>
        <tr class="riga_alternata">
        	<td >
            <span class="label">OG prevista: </span>1,045
            </td>
        	<td>
            <span class="label">Plato: </span>11,2
            </td>
        </tr> 
        <tr class="riga">
        	<td >
            <span class="label">EBC previsto: </span>113,9
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>      
        <tr class="riga_alternata">
        	<td >
            <span class="label">IBU prevista: </span>38,3
            </td>
        	<td>BU/GU: 0,85
            
            </td>
        </tr>       
        <tr class="riga">
        	<td >
            <span class="label">Efficienza: </span>70 %
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>      
        <tr class="riga_alternata">
        	<td >
            <span class="label">Bollitura: </span>60 minuti
            </td>
        	<td>&nbsp;
            
            </td>
        </tr>   
    </table>
    </div>
</div>

<div id="malti">
	<div class="malti_content">
    <h3>Malti e Zuccheri</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Nome prodotto
            </th>
            <th>
            Quantit&agrave; (g.)
          </th>
            <th>
            Potenziale
          </th>
            <th>
            EBC
            </th>            
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Roasted
            </td>
        	<td>
            250,000 g.
            </td>
            <td >
            1,025
            </td>
        	<td>
            1605,219
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Fiocchi di Orzo
            </td>
        	<td>
            250,000 g.
            </td>
            <td >
            1,028
            </td>
        	<td>
            3,964
            </td>
        </tr>
	
      <tr class="riga_alternata">
        	<td >
            Pale
            </td>
        	<td>
            1700,000 g.
            </td>
            <td >
            1,030
            </td>
        	<td>
            9,007
            </td>
        </tr>
	

    </table>
    </div>
</div>


<div id="luppoli">
	<div class="luppoli_content">
    <h3>Luppoli</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Nome
            </th>
            <th>
            Qt. (g.)
          </th>
            <th>
            Forma
          </th>
            <th>
            A.A.
          </th>
            <th>
            IBU
          </th>
            <th>
            Boil
          </th>
            <th>
            Uso
            </th>                        
        </tr>

      <tr class="riga_alternata">
        	<td >
            Goldings, East Kent
            </td>
        	<td>
            23,0 gr.
            </td>
            <td >
            Fiore
            </td>
        	<td>
            6,9 %
            </td>
            <td >
            38,3
            </td>
        	<td>
            60 min.
            </td>
            <td>
            Kettle
            </td>            
        </tr>

    </table>
    </div>
</div>
<div id="lieviti">
	<div class="lieviti_content">
    <h3>Lieviti</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Nome prodotto
            </th>
            <th>
            Codice
          </th>
            <th>
            Note
            </th>       
        </tr>

      <tr class="riga_alternata">
        	<td >
            SafAle English Ale
            </td>
        	<td>
            S-04
            </td>
            <td >
            Mezza Busta a 19 C°
            </td>
        </tr>


    </table>
    </div>
</div>

<div id="note">
	<div class="note_content">
    <h3>Profilo di Mash e Note aggiuntive</h3>
    <table border="1" cellspacing="0">
        <tr bgcolor="#9ED7F1" class="intestazione">
            <th>
            Descrizione
            </th>
            <th>
            Temperatura
          </th>
            <th>
            Minuti
            </th>       
        </tr>

      <tr class="riga_alternata">
        	<td >
            
            </td>
        	<td>
            65
            </td>
            <td >
            60
            </td>
        </tr>

      <tr class="riga_alternata">
        	<td >
            
            </td>
        	<td>
            76
            </td>
            <td >
            10
            </td>
        </tr>


    </table>
    <br />
    
    
    <img src="mash.jpg" alt=""  /><br /><br /><br/>
	</div>
</div>

<div id="footer">
	<div class="footercontent">
    Ricetta preparata con <strong>BrewPlus</strong> (<a href="http://BrewPlus.blogspot.it" target="_blank">http://BrewPlus.blogspot.it</a>) - 
      <span class="no_display"><a title="stampa la ricetta" href="javascript:print();">Stampa</a></span></div>
</div>
</body>
</html>
